<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YeetCarAccidents</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await Html.PartialAsync("_Favicons")
</head>
<body>
    @*Loading spinner*@
    <div id="loader" align="center">
        <img src="~/img/loader.gif" alt="" />
    </div>
    <script type="text/javascript">var loading, container, footer;
        function ShowProgress(clicked = false) {
            loading = document.getElementById("loader");
            if (clicked) {
                container = document.getElementsByClassName("container")[1].style.display = "none";
                footer = document.getElementsByTagName("footer")[0].style.display = "none";
                loading.style.display = "flex";

            }
        };
        ShowProgress();
    </script>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">YeetCarAccidents</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SuperSecret">Confidential</a>
                        </li>
                        <li class="nav-item">
                            <!--THE ASP-ACTION NEEDS TO BE CHANGED TO THE TABLE PAGE-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Crash Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin" OnClick="ShowProgress(true);">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route="Dashboard" asp-route-county="All" asp-route-pageNum="1" OnClick="ShowProgress(true);">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - YeetCarAccidents - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*Get rid of loading spinner on load*@
    <script type="text/javascript">window.onload = function () {
            setTimeout(function () {
                loading.style.display = "none";
                container.style.display = "block";
                footer.style.display = "block";
            }, 0);
        };</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
