@model TestModel

@*<form method="post" asp-controller="Inference" asp-action="PrintTest">
    <input type="checkbox" class="form-check-input" asp-for="Work_zone_related" value=@(1)>
    <input type="hidden" asp-for="Work_zone_related" value=@(0) />
    <label class="form-check-label" asp-for="Work_zone_related">In a Work Zone:</label>
</form>*@


<form method="post" asp-controller="Inference" asp-action="PrintTest">
    <label class="form-check-label" asp-for="chec">Chec:</label>
    <input type="checkbox" class="form-check-input" asp-for="chec" value=@(1 - 1)>
    <button type="submit">Submit</button>
</form>