@{
    ViewData["Title"] = "Accident Severity";
}

<h1>Accident Severity: Factors Behind Fatalities</h1>
<p class="lead">
    Not all people, or factors involved have the same weight in whether someone is more likely to die in a car accident.
</p>
<div class="float-right">
    <img src="~/img/Factors.png" width="600" height="500" />
</div>
<div class="col-5">
<p>
    Accidents are a part of life, but nobody wants to be involved in roadside fatalities. Research done by our analytics team has analyzed the
    factors behind thousands of car accidents between 2016 and 2019 to determine the factors that are most likely to increase the chances of a fatality.
    <br />
    <br />
    As many would assume, the protection a vehicle affords one is one of the most critical for survival. The top factors that increase the chance of
    a fatality in an accident include the presence of a pedestrian, a bicyclist, or a motorcyclist. If you are inside of a car, it's essential to 
    keep an eye out for those that are included in these categories. 
    <br />
    <br />
    Overturn rollovers are the fourth highest factor that causes fatalities. Prevention techniques include going a speed that is appropriate for the 
    weather (such as rain or snow), and maintaining a safe following distance. <br />
    <br />
    Restraints are created for the safety of the passengers, which is why improperly fastened restraints, or the lack of a restraint thereof increases
    the chance of a fatality. It may be uncomfortable, but seconds of discomfort are worth preventing the loss of a life. Appropriate restraints also 
    need to be used for children based off of their age. Following local guidelines will help them to remain just as safe as adults. 
    <br />
</p>
</div>

