@{
    ViewData["Title"] = "Confirmation";
}

@model YeetCarAccidents.Models.Crash;

<h2>The record for the crash on @Model.DateTime was updated!</h2>
@*  at @Model.Location.RoadName in @Model.Location.City *@
