@{
    ViewData["Title"] = "Change a Crash";
}

@model YeetCarAccidents.Models.Crash

<h1>Add or Edit a Crash</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="DateTime">Date Time:</label>
        <input asp-for="DateTime" /><br />

        <label asp-for="LocationID">Location:</label>
        <select asp-for="LocationID">
            <option value="">Select a Location</option>
            @foreach (Location l in ViewBag.Locations)
            {
                <option value="@l.LocationID">@l.RoadName - @l.City</option>
            }
        </select><br />

        <label asp-for="Severity">Severity:</label>
        <input asp-for="Severity" /><br />

        <select asp-for="WorkZone">
            <option value="">Workzone Related</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Pedestrian">
            <option value="">Pedestrian Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Bicyclist">
            <option value="">Bicyclist Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Motorcycle">
            <option value="">Motorcycle Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="ImproperRestraint">
            <option value="">Improper Restraint</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Unrestrained">
            <option value="">Unrestrained</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Dui">
            <option value="">DUI</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Intersection">
            <option value="">Intersection Related</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="WildAnimal">
            <option value="">Wild Animal Related</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="DomesticAnimal">
            <option value="">Domestic Animal Related</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Rollover">
            <option value="">Overturn Rollover</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Commercial">
            <option value="">Commercial Motor Vehicle Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Teenage">
            <option value="">Teenage Driver Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Older">
            <option value="">Older Driver Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Night">
            <option value="">Night Dark Condition</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Older">
            <option value="">Older Driver Involved</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="SingleVehicle">
            <option value="">Single Vehicle</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Distracted">
            <option value="">Distracted Driving</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="Drowsy">
            <option value="">Drowsy Driving</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <select asp-for="RoadwayDeparture">
            <option value="">Roadway Departure</option>
            <option value="0">False</option>
            <option value="1">True</option>
        </select><br />

        <button type="submit">Submit</button>
    </form>
</div>
