@{
    ViewData["Title"] = "Home";
}

<div>
    <!--PICTURE OF SMILING CONSTRUCTION WORKERS OR OTHER HAPPY IMAGE-->
</div>

<div>
    <h3>HOOK PARAGRAPH</h3>
    <p>Utah, wake up to the truth. There is more to causing accidents than drunk driving.
    The number of car crashes occuring have increased since last time we checked. Our statiticians
    tell us that this is bad and we believe them.</p>
    <p>This website will convince you to take off your tinfoil hat and wake up to the truth.
    Driving a two ton box of metal is dangerous. Be safe and don't drive distracted.</p>
    <h3>PURPOSE OF WEBSITE PARAGRAPH</h3>
    <p>This website will bring the light into your eyes by revealing what actions can lead to a more
    severe crash. You will also see a record of crashes that we techinically didn't steal.</p>
</div>
