@{
    ViewData["Title"] = "Home";
}
<center>
    <h1 class="display-4">Life Is A Highway--Drive With Caution!</h1>

    <img class="mx-auto" src="~/img/utah-highway-12.jpeg" width="1100" height="500" style="padding-bottom:30px" />
</center>

<p class="lead">
    Driving is an everyday part of life, and should be enjoyed! However, safety while driving is something that should not be forgotten. We
    have collected a variety of resources to increase your knowledge of road safety. Learn more about the factors that increase the chances of a fatality,
    explore the vast database of accident information in Utah, and see how different locations can influence the chances of being in an accident.
</p>

<div class="card card-group border-0" style="padding-bottom:30px">
    <div class="card">
        <img class="card-img-top" src="~/img/muhammad-daudy-4eeG4Mn0HVY-unsplash.jpg" height="400" />
        <div class="card-body">
            <h4 class="card-title">FACTORS BEHIND FATALITIES</h4>
            <p class="card-text">
                Believe it or not, distracted driving is not the only thing that can increase the severity of a car accident. Learn more about what factors--
                and people you should be aware of when you are behind the wheel.
            </p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Causes">Learn More</a>
        </div>
    </div>
    <span style="padding-left:50px"></span>
    <div class="card">
        <img class="card-img-top" src="~/img/clay-banks-_Jb1TF3kvsA-unsplash.jpg" height="400" />
        <div class="card-body">
            <h4 class="card-title">CRASH SEVERITY CALCULATOR</h4>
            <p class="card-text">
                See how factors leading into an accident can help predict the severity of that accident. Our crash severity calculator allows you to
                experiment with these factors, and consider how you can decrease the chances of getting into a severe accident.
            </p>
            <a class="btn btn-primary" asp-controller="Inference" asp-action="Calculator">Calculate Now</a>
        </div>
    </div>

</div>

<div class="card card-group border-0">
    <div class="card card">
        <img class="card-img-top" src="~/img/other.jpg" height="400" />
        <div class="card-body">
            <h4 class="card-title">CRASH DATABASE</h4>
            <p class="card-text">

                Understanding real stories is critical to creating lasting change for vehicle safety. Our database of information is available to search and view information about car accidents
                that happened in the years 2016-2019. Start learning more now!
            </p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Dashboard">Search Database</a>

        </div>
    </div>

    <span style="padding-left:50px"></span>
    <div class="card card">
        <img class="card-img-top" src="~/img/agence-olloweb-qfp4-Ud6Fyg-unsplash (1).jpg" height="400" />
        <div class="card-body">
            <h4 class="card-title">INTERACTIVE INFORMATION</h4>
            <p class="card-text">

                Ready to learn the truth about accidents in Utah? Which locations have the most crashes? Find the answers to these questions and more
                through working with our interactive charts and information!
            </p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Tableau">Explore Information</a>

        </div>
    </div>
</div>