@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Map Crash";
}
<head>
    <!--Content security policy header-->
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self';
    script-src 'report-sample' 'self' https://cdn.polyfill.io/v2/polyfill.min.js;
    style-src 'report-sample' 'self';
    object-src 'none';
    base-uri 'self';
    connect-src 'self' https://app.launchdarkly.com https://clientstream.launchdarkly.com https://events.launchdarkly.com,
    font-src 'self';
    frame-src 'self';
    img-src 'self' data:;
    manifest-src 'self';
    media-src 'self';
    report-uri https://62505347a340fe1bf24b25a4.endpoint.csper.io/?v=1;
    worker-src 'none'" ;
          upgrade-insecure-requests;">

</head>

<div>
    <img src="@Model.murl" />
</div>

